AICが最小の次数を探す.ipynb
mye1f.csv
*.csv
*.png
.ipynb_checkpoints/AICが最小の次数を探す-checkpoint.ipynb
.ipynb_checkpoints/Python版arfitを作る-checkpoint.ipynb
.ipynb_checkpoints/キックに局所定常を充てる-checkpoint.ipynb
.ipynb_checkpoints/局所定常ARモデルを作る-checkpoint.ipynb
__pycache__/local_steady_ar.cpython-37.pyc
Python版arfitを作る.ipynb
局所定常ARモデルを作る.ipynb
gabbakick test.wav.asd
441gabbakick test.wav
